<div class="vacancies">
  <h2>Список вакансий Ruby программиста в Санкт-Петербурге</h2>
  <% @vacancies.each do |vacancy| %>
      <p><%= link_to vacancy.name, vacancy_path(vacancy) %></p>
  <% end %>
</div>
