<div class="vacancies">
  <h2>Список вакансий Ruby программиста в Санкт-Петербурге</h2>
  <% @vacancies.each do |vacancy| %>
      <div class="vacancy">
        <p><%= link_to vacancy.name, vacancy_path(vacancy) %></p>
        <p><%= vacancy.short_description.html_safe if vacancy.short_description.present?%></p>
      </div>
  <% end %>
</div>
